
/* Styling for main index page */

#coding-title{
text-align: center
}

#coding{
    text-align: center;
    padding: 100px
}

#high{
    color: green;
}

p{
    margin: 0 auto;
    max-width: 400px;
}

#startButton{
margin: 20px;

}


#question{
    text-align: center;
    font-size: 2vw;
    text-decoration: underline;
}

.multiBut{
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 40%;
}

/* Styling for Highscores page */
#highDiv{
text-align: center;
padding: 100px;

}
/* Buttons */
#highButtons{
margin: 40px;
}

#goBack{
margin-right: 10px;
}
